{% extends 'staff_app/auth_base.html' %}

{% block form %}

  <form method="POST">
    <h1>Clinic Appointment Portal</h1>
    {% csrf_token %}
    <h2>Client Login</h2>
    
    {% if messages %}
      <ul>
        {% for message in messages %}
            {% if message %}
                <li>{{ message }}</li>
            {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    
    {{ form.as_p }}
    
    <button class="btn">Login</button>
    <p class="toggle-text">
      Don’t have an account?
      <a href="{% url 'client_register' %}">Register</a>
    </p>
    <p class="toggle-text">
      Login as Staff
      <a href="{% url 'staff_login' %}">Go to Staff Login</a>
    </p>
  </form>
{% endblock form %}